/*body{
    background-color:lightseagreen; 
} */

h1 {
    color: yellow;
    text-align: center;
}

/*color: mediumaquamarine;
         background-color: black;  */


 #title{
     color: yellow;
     text-align: center;
    }
    
.plarge{
    font-size:32px;
}
.p-green {
    color: green;
    background-color: hotpink;
}

.p-red{
    color: red;
    background-color: black;
}


h1 {
    color: rgb(184, 28, 67);
    text-align: center;
}